@import '../../../styles.scss';

.info-container{
    width: 592px;
    p{
        color: $font-red;
        font-size: 13.33px;
        text-transform: uppercase;
        line-height: 1.2;
        font-family: 'circular-book';
        letter-spacing: 1.1px;
        margin:0;
    }
    h1{
        font-size: 39.81px;
        font-family: 'circular-medium';
        padding: 4px 0;
        margin: 0;
        line-height: 1.206;
        .uppercase{
            text-transform: uppercase;
        }
        .capitalize{
            text-transform: capitalize;
        }
    }
    h3{
        color: $font-gray;
        font-size: 27.65px;
        margin:0;
        font-family: 'circular-book';
        line-height: 1.157;
        font-weight: 400;
    }
    .sub-container{
        margin-top: 48px;
        p{
            color: $font-gray;
        } h1{
            font-size: 40px;
            font-weight: 700;
        }
    }
}
@media(max-width: 1024px){
    .info-container{
        width: 460px;
        margin-left: 25px;
    }
}