@import "../../../styles.scss";

.btns-title {
  margin-left: 3px;
  margin-top: 72px;
  font-family: "circular-bold";
  font-size: 19.2px;
  line-height: 1.25;
  font-weight: 500;
}
.btns-container {
  margin-top: -10px;
  display: flex;
  justify-content: space-between;
  .btn {
    width: calc(50% - 10px);
    height: 136px;
    border: 2px solid $font-light-gray;
    border-radius: 8px;
    section {
      height: 88px;
      padding: 24px;
      .info {
        margin: 0;
        font-size: 14px;
        font-family: "circular-medium";
        line-height: 1.429;
      }
      .title {
        color: $font-black;
      }
      .description {
        color: $font-gray;
      }
    }
  }
}
@media (max-width: 1024px) {
  .btns-container {
    .btn {
      section {
      }
    }
  }
}
