@import "../app//scss/mixins";
*,
*::before,
*::after {
  box-sizing: border-box;
}

.content {
  width: 100%;
  display: flex;
  margin: 45px auto 0;
  @include media-xs {
    flex-direction: column;
    max-width: 680px;
    padding: 0 10px;
    width: 100%;
  }
  @include media-sm {
    flex-direction: column;
    max-width: 680px;
    padding: 0 10px;
    width: 100%;
  }
  @include media-md {
    max-width: 1248px;
    padding: 0 15px;
    flex-direction: row;
    justify-content: space-between;
  }
}
.fixed {
  position: sticky;
  top: 0px;
}
.carrusel-container,
.info-tabs {
  @include media-xs {
    width: 100%;
  }
  @include media-sm {
    width: 100%;
  }
  @include media-md {
    width: 50%;
  }
}
.info-tabs {
  padding-left: 33px;
  overflow: hidden;
  max-width: 625px;
  @include media-sm {
    margin-top: 70px;
  }
}
.icons-view {
  padding: 20px;
  display: flex;
  @include media-xs {
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
  }
  @include media-sm {
    padding: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .text-center {
      width: 30%;
    }
  }

  .text-center {
    text-align: center;
    font-size: 14px;
    font-family: "circular-book";
  }
}
