nav {
  width: 100%;
  padding: 0 0;
  max-width: 1218px;
  display: block;
  margin: 0 auto;
  .center {
    height: 96px;
    border-bottom: 1px solid #eeeff2;
    display: flex;
    justify-content: center;
    img {
      height: 58px;
      padding: 20px 0;
    }
  }
}
