.img-container {
  width: auto;
  height: 100%;
  border: 2px solid #eeeff2;
  border-radius: 8px;
  display: flex;
  justify-content: center;
}
.slider-container {
  display: flex;
  justify-content: space-between;
  .img {
    margin-top: 15px;
    width: 31%;
    height: 100px;
    border: 2px solid #eeeff2;
    border-radius: 8px;
    background-color: white;
    overflow: hidden;
    img {
      height: 100%;
      max-width: 100%;
    }
    &:hover {
      border: 1px solid gray;
    }
  }
}
